version: '3' 

services: 
  nakkisade: 
    build: . 
    container_name: nakkisade
    command: python3 manage.py runserver 0.0.0.0:8000 
    volumes:
     - ${PWD}/data:/code/data
    ports:
     - "8000:8000"
    env_file:
      - docker-environment.env
