<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Nakkisade{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div>
    {% if user.is_authenticated %}
    <p>Logged in as {{ user.username }}. <a href="{%url 'logout' %}">log out</a></p>
    {% else %}
    <p>For admins: <a href="{%url 'login' %}">log in</a>.</p>
    {% endif %}
    </div>
</body>
</html>
