{% extends "tasks/base.html" %}
{% block content %}
<h1> {{ event }} </h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'tasks:addperson' event.id %}" method="post">
{% csrf_token %}
<fieldset>
<legend>Enter your information to register</legend>
Name:<br/>
<input type="text" name="name" id="name" size="35"><br/>
Tags:<br/>
<div>
{% for tag in event.tag_set.all %}
    <input type="checkbox" name="tag" id="tag{{ tag.id }}" value="{{ tag.id }}">
    <label for="tag{{ tag.id }}">{{ tag.name }}</label><br/>
{% endfor %}
</div>
<br/>
<input type="submit" value="Register">
</fieldset>
</form>
{% if user.is_authenticated %}
<a href="{%url 'tasks:tasklist' event.id %}">Generate task list</a>
{% endif %}
{% endblock %}
