{% extends "tasks/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="jumbotron text-center">
    <img src="{% static "nakkisade.png" %}" alt="Logo"  class="img-fluid" width="20%" height="20%">
    <h1>{% trans "Welcome to Nakkisade event organizing" %}</h1>
    <p>{% trans "Choose event" %}</p>
</div>
{% if event_list %}
<div class="row">
    {% for event in event_list %}
    <a href="{% url 'tasks:event' event.id %}" class="btn btn-primary btn-lg">
    {{ event.name }}
    </a>
    {% endfor %}
</div>
{% else %}
<div class="alert alert-warning">
    <strong>{% trans "No events are available" %}</strong> - {% trans "add them as admin" %}
</div>
{% endif %}
{% endblock %}
