<h1> {{ event }} </h1>
<h2>Task list</h2>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% for task in tasks %}
<h3> {{ task.name }} </h2>
<div>
{{ task.description }}
</div>
<div>
Min assignees: {{ task.min_assignees }} 
</div>
<h4>Required tags</h4>
<div>
{% for tag in task.required_tags.all %}
    {{ tag }}
{% endfor %}
</div>

{% if task.failed %} Can't find people to complete task! <br/> {% endif %}
{% if not task.complete %} Not enough people! <br/> {% endif %}
<h4>Assigned people</h4>
{% for person in task.assigned %}
<div>
{{ person.name }}<br/>
</div>
{% endfor %}
{% endfor %}
<h2>Assignee list</h2> 
{% for person in persons %}
<div>
{{ person.name }} - {{ person.task_count }} tasks:
</div>
{% for task in person.tasks %}
{{ task.name }}
{% endfor %}

{% endfor %}
